img{
    max-width: 650px;
    height: 100px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;    
  background-color: lightgray;     
}

.infotext{  
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

}

.foot{background-color: darkgrey;}



@media (min-width: 768px) {
  .layout {
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "head nav"
    "info nav"
    "foot foot";
    grid-gap: 0cap;
    background-color: lightgrey;
  }
.head { grid-area: head;
        text-align: center;
        /*padding-right: 200px;*/
        }
.info{grid-area: info;}
.nav {grid-area: nav; border-left: 2px solid black; border-bottom: 2px solid black; border-top: 2px solid black;}
.foot {grid-area: foot; background-color: darkgray; padding-top: 5px;}

.aboutMe{
  padding: 10px;
  border-bottom: 2px solid black;;
  text-align: center;
}

.infotext{
    grid-template-columns: 150px 300px;
    padding-bottom: 20px;
    margin-left: 10%;
}
.portfolioInfo{
  min-width: 0;
}
}