img{
    max-width: 650px;
    height: 100px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;                  
}

.infotext{  
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

}



@media (min-width: 768px) {
  .layout {
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "head head"
    "info nav"
    "foot foot";
  }
.head { grid-area: head;
        text-align: center;
      background-color: lightgreen;;}
.info{grid-area: info; background-color: bisque;}
.nav {grid-area: nav; background-color: lightcoral;}
.foot {grid-area: foot; background-color: black;}

.aboutMe{
  text-align: center;
}

.infotext{
    grid-template-columns: 150px 150px;
    background-color: azure;
}
.portfolioInfo{
  min-width: 0;
}
}